html {
    width:100%;
    height:100%;
}

body {
    width:100%;
    height:100%;
    margin:0px;
    position:relative;
    background-color: white;
}

@font-face {
  font-family: Spartan;
  font-weight: bold;
  src: url("../assets/font/SpartanMB-Bold.otf") format("opentype");
}

@font-face {
  font-family: Spartan;
  font-weight: normal;
  src: url("../assets/font/SpartanMB-Regular.otf") format("opentype");
}


header, footer {
   font-family: Spartan;
   font-weight: normal;
    width: 96vw;
    margin-left: 2vw;
   font-size: 2vh;
}

header {
   margin-top: 1vh;
   border-bottom: 1px solid black;
}
header > a {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 1vh;
    padding-top: 1vh;
   padding-bottom: 2.5vh;
   font-size: 1vh;
   border-top: 1px solid black;
   text-align: center;
}

div.maincontainer {
    display: grid;
    grid-template-columns: [side-col] 15% [first-col] auto [second-col] 15% [right-col];
    grid-template-rows: [first-row] auto [second-row] auto [third-row] auto [fourth-row] auto [fifth-row] auto [sixth-row] auto [seventh-row];
    row-gap: 15px;
    justify-content: center;
}

.title {
   grid-column: first-col / second-col;
   grid-row: first-row / second-row;
   font-family: Spartan;
   font-weight: bold;
   font-size: 4vh;;
   width: 100%;
   text-align: center;
}

div.title {
    margin-top: 5%;
}

div.text {
   grid-column: first-col / second-col;
   grid-row: first-row / second-row;
   font-family: Spartan;
   font-weight: normal;
   font-size: 2vh;;
   width: 100%;
   margin-top: 2vh;
}

div.frameimgcontainer {
  grid-column: first-col / second-col;
  grid-row: second-row  / third-row;
}


div.tour {
  grid-column: first-col / second-col;
  grid-row: third-row / fourth-row;

  text-align: center;

  border-top: 1px solid black;
  border-bottom: 1px solid black;

  width: 100%;
  display: grid;
  grid-template-rows: [first-row] 100% [second-row];
  grid-template-columns: [one-col] 33% [two-col] 33% [three-col];

}

div.text-source {
  grid-column: first-col / second-col;
  grid-row: fourth-row / fifth-row;

  text-align: center;
}

div.sourceimgcontainer {
  grid-column: first-col / second-col;
  grid-row: fifth-row / sixth-row;
}

div.text-source > span, div.tour > .title, div.tour > .prev, div.tour > .next {
  font-family: Spartan;
  font-weight: normal;
  font-size: 2.2vh;;
  width: 100%;
  margin-top: 2vh;
  text-align: center;
}

div.tour > .prev, div.tour > .next, div.tour > .title {
  font-size: 1.5vh;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
}

div.tour > .prev, div.tour > .next {
  font-size: 2.5vh;
}

div.tour > .title {
    display: none;
}

div.tour a {
  text-decoration: none;
}

div.tour > .prev{
  grid-column: one-col / two-col;
  grid-row-start: first-row;
  text-align: left;
}

div.tour > .title {
  grid-column: two-col / three-col;
  grid-row-start: first-row;
  text-align: center;
}

div.tour > .next {
  grid-column-start: three-col;
  grid-row-start: first-row;
  text-align: right;
}

.imgbuttoncontainer-six-buttons {
  grid-column-start: first-col;
  grid-row-start: first-row;

  z-index: 10;
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  max-width: 1024px;

  display: grid;
  grid-template-rows: [first-row] 100% [second-row];
  grid-template-columns: [one-col] 16.666% [two-col] 16.666% [three-col] 16.666% [four-col] 16.666% [five-col] 16.666% [six-col] 16.666% [seven-col];
}

.imgbuttoncontainer-four-buttons {
  grid-column-start: first-col;
  grid-row-start: first-row;

  z-index: 10;
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  max-width: 1024px;

  display: grid;
  grid-template-rows: [first-row] 100% [second-row];
  grid-template-columns: [one-col] 25% [two-col] 25% [three-col] 25% [four-col] 25% [five-col];
}

.button-image {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  opacity: 0.7;
  font-family: Spartan;
  font-weight: normal;
  text-align: center;
  height: 2vh;
  min-height: 30px;
  color: white;
  padding-top: 10%;
}

.one-img-button {
  grid-column: one-col / two-col;
  grid-row: first-row / second-row;
}
.two-img-button {
  grid-column: two-col / three-col;
  grid-row: first-row / second-row;
}
.three-img-button {
  grid-column: three-col / four-col;
  grid-row: first-row / second-row;
}
.four-img-button {
  grid-column: four-col / five-col;
  grid-row: first-row / second-row;
}
.five-img-button {
  grid-column: five-col / six-col;
  grid-row: first-row / second-row;
}
.six-img-button {
  grid-column: six-col / seven-col;
  grid-row: first-row / second-row;
}

div.logo {
  position: relative;
  display: grid;
  grid-template-columns: [first-col] 100%;
  grid-template-rows: [first-row] 100%;
}

img.logo {
  grid-column-start: first-col;
  grid-row-start: first-row;
  max-width:100%;
  max-height:100%;
  margin-top: 0px;
  border: 1px #030303 solid;
  opacity: 0;
  width: 100%;
  max-width: 1024px;
}
