html {
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
    margin:0px;
    position:relative;
    background-color: white;
    display: grid;
    grid-template-columns: [side-col] 15% [first-col] auto [second-col] 15% [right-col];
    grid-template-rows: [first-row] auto [second-row] auto [third-row] auto [fourth-row] auto [fifth-row];
    row-gap: 15px;
}

.title {
   grid-column: first-col / second-col;
   grid-row: first-row / second-row;
   font-family: Spartan;
   font-weight: bold;
   font-size: 4vw;;
   width: 100%;
   text-align: center;
}

div.title {
    margin-top: 5%;
}

div.frameimgcontainer {
  grid-column: first-col / second-col;
  grid-row: second-row  / third-row;
}

.slidercontainer {
  grid-column: first-col / second-col;
  grid-row: third-row  / fourth-row;
}

div.sourceimgcontainer {
  grid-column: first-col / second-col;
  grid-row: fourth-row  / fifth-row;
}

div.logo {
  display: grid;
  grid-template-columns: [first-col] 100%;
  grid-template-rows: [first-row] 100%;
}

img.logo {
  grid-column-start: first-col;
  grid-row-start: first-row;
  max-width:100%;
  max-height:100%;
  margin-top: 0px;
  border: 1px #030303 solid;
  opacity: 0;
  width: 100%;
}

@font-face {
  font-family: Spartan;
  font-weight: bold;
  src: url("../assets/font/SpartanMB-Bold.otf") format("opentype");
}


/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;

  height: 4vh; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

  width: 100%;

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5vw; /* Set a specific slider handle width */
  height: 5vh; /* Specified height */
  background: #880000;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 5vw; /* Set a specific slider handle width */
  height: 5vh; /* Specified height */
  background: #880000;
  cursor: pointer; /* Cursor on hover */
}
